python-dev-tools==2022.5.27
wheel==0.37.1
Click>=8.0.0
dnspython==1.16.0
docutils==0.15.2
eventlet==0.25.1
Flask==1.1.1
Flask-Login==0.6.1
Flask-SocketIO==4.2.1
Flask-Sockets==0.2.1
gevent==21.12.0
gevent-websocket==0.10.1
gunicorn==18.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
monotonic==1.5
python-dateutil==2.8.1
python-engineio==3.10.0
python-socketio==4.3.1
six==1.12.0
urllib3==1.25.6
Werkzeug==2.1.2
psycopg2-binary==2.8.4
talisman==0.1.0
flask-talisman==0.7.0
transformers==4.15.0
stop-words==2018.7.23
spacy==3.3.1
sklearn==0.0
sentence-transformers==2.1.0
sentencepiece==0.1.96
pandas==1.4.3
nltk==3.5

