<!DOCTYPE html>
    <style type="text/css">
    .highlight-white {
      box-shadow: inset 0 0 3px 3px yellow;
    }
    .highlight-black {
      box-shadow: inset 0 0 3px 3px blue;
    }
    </style>
    <div class="container">
        <div class="row">
            Carefully examine the board below. With black to move, which of these 5 moves would be the best.
            You can press the "Show" button next to each move to visualise it.


            <div class="row">
                <div id="board1" style="width: 400px"></div>
            </div>
            <table class="table table-sm">
                <tbody>
                {% for move in room_data.game[0]['moves']%}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><h5><span class="badge badge-secondary">{{move['text']}}</span></h5></td>
                    <td>
                        <button type="button" data-fin="{{move['fin']}}" class="move_game btn btn-warning"
                                id="move{{move['id']}}">Show
                        </button>
                    </td>
                    <td>
                        <input type="radio" data-fin="{{move['fin']}}" class="btn btn-success"
                                id="selected_{{room_data.game[0]['id']}}_{{move['id']}}"/>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="game_buttons">
            <button type="button" id="main_game_button" class="btn btn-success btn-lg">Submit and move to Next</button>
        </div>
        <link rel="stylesheet" type="text/css" href="/static/css/chessboard-1.0.0.css"/>
        <script type="text/javascript" src="/static/chessboard-1.0.0.min.js"></script>

        <script>
var sleepSetTimeout_ctrl;
function sleep(ms) {
    clearInterval(sleepSetTimeout_ctrl);
    return new Promise(resolve => sleepSetTimeout_ctrl = setTimeout(resolve, ms));
}

async function show_board(start, move){
      board.position(start, false)
      board.position(move, true)
      await sleep(1500);
      board.position(start, true)
}
    var board = Chessboard('board1',  {position: "{{room_data.game[0]['fin']}}", showNotation: true})

    $('.move_game').on('click', function () {
        var clicked = $(this);
       show_board("{{room_data.game[0]['fin']}}", clicked.data('fin'));
    })

    socket.emit('response', {
                                user_id: global_user_id,
                                user_name: user_name,
                                type: FINISHED_ONBOARDING,
                                room: room_id,
                                user_status: user_status,
                                user_type: current_user_type,
                                message: ''
                            });
</script>