<!DOCTYPE html>
<input id="chat_id" type="hidden" value="{{room_data.id}}"/>
<input id="user_id" type="hidden" value="{{room_data.current_user_id}}"/>
<input id="user_name" type="hidden" value="{{room_data.current_user}}"/>
<input id="user_status" type="hidden" value="{{room_data.current_user_status}}"/>
<input id="room_status" type="hidden" value="{{room_data.room_status}}"/>
<input id="start_time" type="hidden" value="{{room_data.start_time}}"/>
<input id="user_type" type="hidden" value="{{room_data.current_user_type}}">
<input id="mturk_url" type="hidden" value="{{room_data.mturk_return_url}}">
<div>
    Carefully examine the board below. With black to move, which of these 5 moves would be the best.
    You can press the "Show" button next to each move to visualise it.

    {% for game in room_data.game%}
    <div id="chess_game_container{{loop.index}}" class="hidden">
    <div class="">
        <div id="board{{loop.index}}" data-fin="{{game['fin']}}" style="width: 400px"></div>
    </div>
    <table class="table table-sm">
        <tbody>
        {% for move in game['moves']%}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td><h5><span class="badge badge-secondary">{{move['text']}}</span></h5></td>
            <td>
                <button type="button" data-fin="{{move['fin']}}" class="move_game btn btn-warning"
                        id="move{{move['id']}}">Show
                </button>
            </td>
            <td>
                <input type="radio" name="solution_selection" data-fin="{{move['fin']}}" class="btn btn-success"
                       id="selected_{{room_data.game[0]['id']}}_{{move['id']}}"/>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {%endfor%}
</div>

<div class="game_buttons">
    <button type="button" id="main_game_button" class="btn btn-success btn-lg">Submit and move to Next</button>
</div>
<link rel="stylesheet" type="text/css" href="/static/css/chessboard-1.0.0.css"/>
<script type="text/javascript" src="/static/chessboard-1.0.0.min.js"></script>

<script>
        $(function() {

   var room_id = $('input#chat_id').val();
    var room_status = $('#room_status').val();
    var user_name = $('input#user_name').val();
    var global_user_id = $('input#user_id').val();
    var current_user_type = $('#user_type').val();



var sleepSetTimeout_ctrl;
function sleep(ms) {
    clearInterval(sleepSetTimeout_ctrl);
    return new Promise(resolve => sleepSetTimeout_ctrl = setTimeout(resolve, ms));
}

async function show_board(start, move){
      board.position(start, false)
      board.position(move, true)
      await sleep(1500);
      board.position(start, true)
}
    var board = Chessboard('board1',  {position: "{{room_data.game[0]['fin']}}", showNotation: true})
    var socket = io.connect('https://' + document.domain, {autoConnect: true,  transports: ["websocket", "polling"], upgrade: true});
    var current_counter = 1;
    $('#chess_game_container'+current_counter).removeClass('hidden');
    $('.move_game').on('click', function () {
        var clicked = $(this);
       show_board("{{room_data.game[0]['fin']}}", clicked.data('fin'));
    })

    $('#main_game_button').on('click', function () {
        $('#chess_game_container'+current_counter.toString()).addClass('hidden');

        current_counter++;

        if(current_counter == 4){
           current_counter = 1
           socket.emit('response', {
                    user_id: global_user_id,
                    user_name: user_name,
                    type: FINISHED_ONBOARDING,
                    room: room_id,
                    user_status: user_status,
                    user_type: current_user_type,
                    message: ''
                });
        }

        board = Chessboard('board1',  {position: $('#board'+current_counter.toString()).data('fin'), showNotation: true})
        $('.chess_game_container#'+current_counter.toString()).removeClass('hidden');


    })


});


</script>