<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests ">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="{{ url_for('create_room') }}" method="post">
        <input type="text" name="room_name">
        <label for="campaign">Choose campaign:</label>

<select name="campaing" id="campaign">
    {% for item in data.campaigns %}
        <option value={{item[0]}}>{{item[1]}}</option>
    {%endfor%}
</select>

        <input type="submit">
    </form>
</div>
<div class="footer"><a href="https://gkaradzhov.com">Georgi Karadzhov</a></div>
</body>
</html>