<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          crossorigin="anonymous">

    <title>Onboarding</title>


</head>
<body>
    <h1>Please answer the questions bellow</h1>
    <form>
        <div>Please enter at least 3 of the vowels in the English language (comma separated):</div>
        <input type="text" name="vowels">
        <hr/>
        <div>Please enter all even numbers from 1-5 (comma separated):</div>
        <input type="text" name="even">
        <hr/>
        <div>I spread the cloth on the table in order to protect it. <b>What am I protecting</b></div>
        <input type="radio" name="vino" value="table"> <b>The table</b>
        <input type="radio" name="vino" value="cloth"> <b>The cloth</b>
        <input type="submit" value="Submit">
    </form>

</body>
</html>