<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
<!--    <meta http-equiv="Content-Security-Policy" content="default-src https:">-->
<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self' *; script-src 'unsafe-inline' 'self' *;style-src 'unsafe-inline' 'self' *;img-src 'unsafe-inline' 'self' *"> -->

    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.bootstrapcdn.com/*">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          crossorigin="anonymous">

    <title>Onboarding</title>


</head>
<body>
    <div class="container">
            <h1>Please answer the questions bellow</h1>
    <form action="{{url_for('route_to_room')}}" method="post">
        <input type="hidden" name="campaign_id" value="{{campaign_id}}">
        <div>Please enter at least 3 of the vowels in the English language (comma separated):</div>
        <input type="text" name="vowels">
        <hr/>
        <div>Please enter all even numbers from 1-5 (comma separated):</div>
        <input type="text" name="even">
        <hr/>
        <div>I spread the cloth on the table in order to protect it. <b>What am I protecting?</b></div>
        <input id="table" type="radio" name="vino" value="table"> <label for="table"><b>The table</b></label> <br/>
        <input id="cloth" type="radio" name="vino" value="cloth"> <label for="cloth"><b>The cloth</b></label> <br/>
        <input type="submit" value="Submit">
    </form>

    </div>


</body>
</html>