<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          crossorigin="anonymous">

    <title>Unsuccessful onboarding</title>
</head>
<body>
  <div class="container">
      <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Onboarding Unsuccessful</h4>
          <p>Thank you for your interest, but unfortunately you won't be able to take a part of this study. <b>Please return the HIT.</b> </p>
        </div>
    </div>
</body>
</html>