<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" nonce="a9d09b55f2b66e00f4d27f8b453003e6">
    <link rel="stylesheet" type="text/css" href="/static/style.css" nonce="a9d09b55f2b66e00f4d27f8b453003e6"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" nonce="a9d09b55f2b66e00f4d27f8b453003e6"
          crossorigin="anonymous">

    <title>DEliBot Waiting Room</title>

</head>
<body>
    <div class="container">
    </div>
</body>
</html>