<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          nonce="a9d09b55f2b66e00f4d27f8b453003e6">
    <link rel="stylesheet" type="text/css" href="/static/style.css" nonce="a9d09b55f2b66e00f4d27f8b453003e6"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          nonce="a9d09b55f2b66e00f4d27f8b453003e6"
          crossorigin="anonymous">

    <title>DEliBot Waiting Room</title>

</head>
<body>
<input id="ssttmm" type="hidden" value="{{data.ssttmm}}"/>
<input id="assignment_id" type="hidden" value="{{data.assignment_id}}"/>
<input id="hit_id" type="hidden" value="{{data.hit_id}}"/>
<input id="worker_id" type="hidden" value="{{data.worker_id}}"/>
<input id="turk_submit" type="hidden" value="{{data.turk_submit}}"/>
<input id="campaign_id" type="hidden" value="{{data.campaign_id}}">


<div class="vertical-center">
    <div class="container">
        <div class="justify-content-center">You are about to take part in a group chat with other students about a logic
            problem. The problem is interesting because many people get the answer wrong at first.
            As well as being an exercise which will enhance your understanding of the Cognitive Psychology course,
            today's experiment is an active research project led by Tom Stafford and researchers at the University of
            Cambridge. The research has been officially reviewed and approved by the Department. Please read the <a
                    target="_blank" href="https://drive.google.com/file/d/1QRd1L6adv6BSn_6xcfK6BrvRIyH6Ad-N/view">full
                information sheet</a> and indicate your consent below.
            Please note, we will store, share and analyse the transcripts of the online discussions about the task.
            Because of this you should not discuss identifying or confidential details (such as phone numbers, your name
            or location). No identifying information is collected by us and your participation is anonymous.
        </div>


        <input type="checkbox" id="check1" name="check1" class="consent_check"> <label for="check1"> I have read the
        information sheet</label><br>
        <input type="checkbox" id="check2" name="check2" class="consent_check"> <label for="check2"> I understand that
        text I enter as part of this task being stored and shared as part of the research data for this
        project</label><br>
        <input type="checkbox" id="check3" name="check3" class="consent_check"> <label for="check3"> I am aware that my
        participation is voluntary</label><br>
        <input type="checkbox" id="check4" name="check4" class="consent_check"> <label for="check4"> By continuing to
        the take part in this task you indicate your consent to participating in the research</label><br>


        <button type="button" id="btn-agree" disabled class="btn btn-success btn-lg">I want to participate!</button>

    </div>

</div>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/utils.js"></script>
<script type="text/javascript" src="/static/notify.min.js"></script>


<script type="text/javascript">
    $(function() {

        var campaign = $('input#campaign_id').val();
        var assignment = $('input#assignment_id').val();
        var hit_id = $('input#hit_id').val();
        var worker_id = $('input#worker_id').val();
        var turk_submit = $('input#turk_submit').val();

        $('#btn-agree').click(function(){
            window.location.href="https://dialogueden.herokuapp.com/route?campaign=" + campaign
            + "&assignmentId=" + assignment
            + "&hitId=" + hit_id
            + "&workerId=" + worker_id
            + "&turkSubmitTo=" + turk_submit;
        });


        var start_time = $('input#ssttmm').val();

        var start_date = new Date(start_time);

        $('#btn-agree').text('I want to participate! (available at ' + start_date + ' )')
        var check_allow = false;
        var timer_allow = false;

        var now = new Date();
        start_date.setSeconds(start_date.getSeconds() + 30);
        if (start_date < now){
            timer_allow = true;
            if (check_allow == true){
                $('#btn-agree').prop('disabled', false);
                $('#btn-agree').text('I want to participate!')

            }
        }
        else{

         var timer = setInterval(function(){start_timer(start_date, false, "",
                 function(){
                        timer_allow = true
                        if (check_allow == true){
                            $('#btn-agree').prop('disabled', false);
                            $('#btn-agree').text('I want to participate!')
                        }
                        clearInterval(timer);
                    })}, 1000);

        }


        $('.consent_check').change(function(){
            if ($('.consent_check:checked').length == $('.consent_check').length){
                check_allow = true
                if (timer_allow == true){
                    $('#btn-agree').prop('disabled', false);
                    $('#btn-agree').text('I want to participate!')
                }
            }
            else{
                check_allow = false
                $('#btn-agree').prop('disabled', true);
            }
        });
    });


</script>
</html>